<app-header titulo="grid"></app-header>

<ion-content class="ion-padding" fullscreen>

  <ion-grid fixed>
    <ion-row>
      <ion-col size= "12" size-lg="3" size-md="4" size-sm="6"  *ngFor="item of [1,1,1,1,1,1,1,1,1,1,1,1]">
        <ion-card>
          <ion-img src="../../../assets/1355898363921.jpg"></ion-img>
        </ion-card>
        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis veritatis dicta quia aliquam voluptates necessitatibus porro a similique laborum voluptas?
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
