<app-header titulo="card"></app-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita omnis iusto commodi repellendus totam laboriosam dolore odio molestiae minus? Magnam aut fugiat quo maxime consequuntur ratione deserunt in nostrum aperiam!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://e.radio-grpp.io/normal/2018/09/04/494249_672492.jpg">
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita omnis iusto commodi repellendus totam laboriosam dolore odio molestiae minus? Magnam aut fugiat quo maxime consequuntur ratione deserunt in nostrum aperiam!
    </ion-card-content>
  </ion-card>

</ion-content>
